
DerivedData/ModuleCache/16M43NVT45YKJ/CFNetwork-3GVNUBTYX5VY2.pcm

DerivedData/ModuleCache/16M43NVT45YKJ/CoreFoundation-ZX8N8PO0O46U.pcm

*.pcm

DerivedData/SwiftPullRefreshDemo/Build/Intermediates/SwiftPullRefreshDemo.build/Debug-iphoneos/SwiftPullRefreshDemo.build/DerivedSources/SwiftPullRefreshDemo-Swift.h

DerivedData/SwiftPullRefreshDemo/Build/Intermediates/SwiftPullRefreshDemo.build/Debug-iphoneos/SwiftPullRefreshDemo.build/dgph

DerivedData/SwiftPullRefreshDemo/Build/Intermediates/SwiftPullRefreshDemo.build/Debug-iphoneos/SwiftPullRefreshDemo.build/Objects-normal/arm64/AppDelegate.d

DerivedData/SwiftPullRefreshDemo/Build/Intermediates/SwiftPullRefreshDemo.build/Debug-iphoneos/SwiftPullRefreshDemo.build/Objects-normal/arm64/AppDelegate.o

DerivedData/SwiftPullRefreshDemo/Build/Intermediates/SwiftPullRefreshDemo.build/Debug-iphoneos/SwiftPullRefreshDemo.build/Objects-normal/arm64/AppDelegate~partial.swiftmodule

DerivedData/SwiftPullRefreshDemo/Build/Intermediates/SwiftPullRefreshDemo.build/Debug-iphoneos/SwiftPullRefreshDemo.build/Objects-normal/arm64/AppTableView.d

DerivedData/SwiftPullRefreshDemo/Build/Intermediates/SwiftPullRefreshDemo.build/Debug-iphoneos/SwiftPullRefreshDemo.build/Objects-normal/arm64/AppTableView.dia

DerivedData/SwiftPullRefreshDemo/Build/Intermediates/SwiftPullRefreshDemo.build/Debug-iphoneos/SwiftPullRefreshDemo.build/Objects-normal/arm64/AppTableView~partial.swiftmodule

*.dia

*.o

*.json

*.h

*.LinkFileList

*.swiftdoc

*.swiftmodule

*.d

*.hmap

DerivedData/SwiftPullRefreshDemo/Build/Intermediates/SwiftPullRefreshDemo.build/Debug-iphoneos/SwiftPullRefreshDemoTests.build/dgph

*.txt

*.plist

DerivedData/SwiftPullRefreshDemo/Build/Intermediates/SwiftPullRefreshDemo.build/Debug-iphonesimulator/SwiftPullRefreshDemo.build/dgph

*.dat

DerivedData/SwiftPullRefreshDemo/Build/Intermediates/SwiftPullRefreshDemo.build/Debug-iphonesimulator/SwiftPullRefreshDemoTests.build/dgph

DerivedData/SwiftPullRefreshDemo/Build/Products/Debug-iphonesimulator/SwiftPullRefreshDemo.app.dSYM/Contents/Resources/DWARF/SwiftPullRefreshDemo

*.nib

*.dylib

DerivedData/SwiftPullRefreshDemo/Build/Products/Debug-iphonesimulator/SwiftPullRefreshDemo.app/PkgInfo

DerivedData/SwiftPullRefreshDemo/Build/Products/Debug-iphonesimulator/SwiftPullRefreshDemo.app/SwiftPullRefreshDemo

DerivedData/SwiftPullRefreshDemo/Build/Products/Debug-iphonesimulator/SwiftPullRefreshDemoTests.xctest.dSYM/Contents/Resources/DWARF/SwiftPullRefreshDemoTests

DerivedData/SwiftPullRefreshDemo/Build/Products/Debug-iphonesimulator/SwiftPullRefreshDemoTests.xctest/SwiftPullRefreshDemoTests

*.xcindexdb

*.xcindexdb-shm

*.xcindexdb-wal

*.strings-cmp

*.strings-dir

*.strings-file

*.strings-moduleurl

*.strings-res

*.idx

*.xcactivitylog

*.db

*.strings-sym

*.xcindexdb

*.xcindexdb

*.xcindexdb-wal

DerivedData/SwiftPullRefreshDemo/Index/Debug/iphoneos8.0-armv7f/SwiftPullRefreshDemo.xcindex/db.xcindexdb

DerivedData/SwiftPullRefreshDemo/Index/Debug/iphoneos8.0-armv7f/SwiftPullRefreshDemo.xcindex/db.xcindexdb-wal
